.header {
    background-image: url('https://t3.ftcdn.net/jpg/09/53/48/04/240_F_953480428_OJW76NKlioswitMBA5CJmPZErUNEDNs6.jpg'); /* Замість цього вставте URL вашої новорічної фотографії */
    background-size: cover;
    height: 400px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}